html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ebede9;
  color: #202e37;
}

.parent-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  padding-top: 64px;
}

.example-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.example-box a {
  transition: all 0.3s ease-in-out;
}

.example-box a:hover {
  transform: scale(1.1);
}

.container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 32px;
  left: 0;
  margin: 0;
  width: 100%;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.credits-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #4f8fba;
  text-decoration: none;
}
