@mixin base-curve {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  stroke-width: 5px;
}

.connection {
  @include base-curve;
  stroke: #84c3ff;

  &:hover {
    stroke: darken(saturate(#84c3ff, 25%), 25%);
    filter: drop-shadow(0 0 2px darken(saturate(#84c3ff, 25%), 25%));
  }
}

.selected-connection {
  @include base-curve;

  stroke: lighten(saturate(#84c3ff, 25%), 25%);
  filter: drop-shadow(0 0 2px lighten(saturate(#84c3ff, 25%), 25%));
}