@use "colors";

$connector-size: 12px;
$connector-border: 4px;

@mixin baseNode {
  z-index: 1;
  width: 300px;
  height: 180px;
  position: absolute;
  user-select: none;
  border-radius: 12px;
  border: 2px solid colors.$node-border-color;
  background-color: colors.$node-background-color;

  &:hover {
    background-color: colors.$node-highlighted-background-color;
    z-index: 3;
  }

  cursor: grab;
  box-shadow: 0 0 5px 0 colors.$node-border-color;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

@mixin baseConnector($bg-color) {
  position: relative;
  width: $connector-size;
  height: $connector-size;
  border-radius: 100%;
  border: $connector-border solid colors.$node-border-color;
  z-index: 1;
  cursor: crosshair;

  background-color: $bg-color;

  &:hover {
    background-color: lighten($bg-color, 10%);
  }
}

@mixin connectorSection {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 0;
  top: 0;
  height: 100%;
  flex-direction: column;
}

.node {
  @include baseNode;
}

.selectedNode {
  @include baseNode;
  box-shadow: 0 0 10px 5px colors.$node-border-color;
  cursor: grabbing;
  z-index: 3;
  background-color: colors.$node-highlighted-background-color;
}

.inputConnector {
  @include baseConnector(colors.$input-connector-color);
}

.outputConnector {
  @include baseConnector(colors.$output-connector-color);
}

.inputsSection {
  @include connectorSection;
  left: calc(($connector-size + $connector-border) / -2);
}

.outputsSection {
  @include connectorSection;
  right: calc(($connector-size + $connector-border) / 2);
}
