$dark-3: #807B7A;

$highlight-color: #FAF9F5;
$background-color: #ECEBE7;
$element-background-color: #CBC6C1;
$border-color: #595757;
// Node specific styles
$node-background-color: $element-background-color;
$node-border-color: $border-color;
$node-text-color: #000000;
$font-color: #323232;
$font-stroke-color: $border-color;

$female-dark-color: #EA0078;
$male-dark-color: #0078EA;