@mixin base-curve {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  stroke-width: 5px;
}

.father {
  @include base-curve;
  stroke: #84c3ff;
}

.mother {
  @include base-curve;
  stroke: #ff84c3;
}

.new-father {
  @include base-curve;
  stroke: #a3c2e0;
}

.new-mother {
  @include base-curve;
  stroke: #e0a3c2;
}
