.formButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.displayText {
  margin: 0;
}

.inputText {
  margin: 0;
}

.horizontalRadioContainer {
  display: flex;
  justify-content: space-between;
}