@mixin baseNode {
  z-index: 2;
  min-width: 300px;
  min-height: 100px;
  padding: 10px;
  position: absolute;
  user-select: none;
  border-radius: 12px;
  border: 2px solid black;

  cursor: grab;
  box-shadow: 0 0 5px 0 black;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.8s ease-in-out, border-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.male-node {
  @include baseNode;

  &:hover {
    background-color: lightblue;
    z-index: 3;
  }
}

.female-node {
  @include baseNode;

  &:hover {
    background-color: lightpink;
    z-index: 3;
  }
}

@mixin base-elected-node {
  @include baseNode;
  box-shadow: 0 0 10px 5px gray;
  cursor: grabbing;
  z-index: 3;
}

.selected-male-node {
  @include base-elected-node;
  background-color: lightblue;
}

.selected-female-node {
  @include base-elected-node;
  background-color: lightpink;
}

$connector-size: 10px;
$connector-border: 2px;

@mixin connector {
  position: relative;
  width: $connector-size;
  height: $connector-size;
  border-radius: 100%;
  border: $connector-border solid black;
  z-index: 1;
  cursor: crosshair;
}

.father-input-connector {
  @include connector;
  background-color: #c8e3ff;

  &:hover {
    background-color: lightblue;
  }
}

.mother-input-connector {
  @include connector;
  background-color: #ffc8e3;

  &:hover {
    background-color: lightblue;
  }
}

.output-connector {
  @include connector;
  background-color: white;

  &:hover {
    background-color: lightblue;
  }
}

@mixin connector-section {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 0;
}

.inputs-section {
  @include connector-section;
  top: calc(($connector-size + $connector-border) / -2)
}

.outputs-section {
  @include connector-section;
  bottom: calc(($connector-size + $connector-border) / 2);
}