@use "colors";

@mixin baseCurve($strokeColor) {
  stroke-width: 12px;
  transition:
    stroke 100ms ease-in-out,
    filter 100ms ease-in-out;
  stroke: $strokeColor;
}

@mixin hoverHighlight($strokeColor) {
  &:hover {
    stroke: adjust-color($strokeColor, $saturation: 10%, $lightness: -30%);
    filter: drop-shadow(0 0 2px $strokeColor);
  }
}

@mixin curveWithHover($strokeColor) {
  @include baseCurve($strokeColor);
  @include hoverHighlight($strokeColor);
}

.fatherCurve {
  @include curveWithHover(colors.$male-color);
}

.motherCurve {
  @include curveWithHover(colors.$female-color);
}

.selectedFatherCurve {
  @include baseCurve(
    adjust-color(colors.$male-color, $saturation: 25%, $lightness: -15%)
  );
  filter: drop-shadow(
    0 0 2px adjust-color(colors.$male-color, $saturation: 25%, $lightness: -15%)
  );
}

.selectedMotherCurve {
  @include baseCurve(
    adjust-color(colors.$female-color, $saturation: 25%, $lightness: -15%)
  );
  filter: drop-shadow(
    0 0 2px
      adjust-color(colors.$female-color, $saturation: 25%, $lightness: -15%)
  );
}

.newFatherCurve {
  @include baseCurve(
    adjust-color(colors.$male-color, $saturation: -25%, $lightness: 15%)
  );
  filter: drop-shadow(
    0 0 2px adjust-color(colors.$male-color, $saturation: 25%, $lightness: -15%)
  );
}

.newMotherCurve {
  @include baseCurve(
    adjust-color(colors.$female-color, $saturation: -25%, $lightness: 15%)
  );
  filter: drop-shadow(
    0 0 2px
      adjust-color(colors.$female-color, $saturation: 25%, $lightness: -15%)
  );
}
