@use "colors";

$connector-size: 12px;
$connector-border: 4px;

@mixin baseConnector($bg-color) {
  position: relative;
  width: $connector-size;
  height: $connector-size;
  border-radius: 100%;
  border: $connector-border solid colors.$node-border-color;
  cursor: crosshair;

  background-color: $bg-color;

  &:hover {
    background-color: adjust-color($bg-color, $lightness: 10%);
  }
}

.node {
  width: 300px;
  height: 180px;
  border-radius: 12px;
  border: 2px solid colors.$node-border-color;
  background-color: colors.$node-background-color;

  &:hover {
    background-color: colors.$node-highlighted-background-color;
    z-index: 3;
  }

  box-shadow: 0 0 5px 0 colors.$node-border-color;
  transition:
    background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s,
    box-shadow 0.2s ease-in-out 0s;
}

.selectedNode {
  box-shadow: 0 0 10px 5px colors.$node-border-color;
  cursor: grabbing;
  z-index: 3;
  background-color: colors.$node-highlighted-background-color;
}

.inputConnector {
  @include baseConnector(colors.$input-connector-color);
}

.outputConnector {
  @include baseConnector(colors.$output-connector-color);
}

.inputsSection {
  left: calc($connector-size / -2 - $connector-border);
}

.outputsSection {
  right: calc($connector-size / 2 + $connector-border);
  left: auto;
}
